#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start-game-button {
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.game-dashboard {
  width: 100%;
  justify-content: center;
  display: flex;
}

.question-card h2 {
  font-size: 2rem;
  font-weight: bold;
}

.question-card .question {
  font-size: 1.25rem;
  width: 100%;
}

.question-card .answer {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.question-card .answer.revealed {
  cursor: default;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}

.error-message {
  color: #D22B2B;
}

.player-list {
  border: 1px solid color-mix(in srgb, var(--chakra-colors-fg-muted) 80%, transparent);
  border-radius: 4px;
  padding: 1rem 2rem;
}

.player-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-list-item> :nth-child(1) {
  margin-right: auto;
}

.player-list-item> :nth-child(2) {
  margin-left: auto;
}